<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Cars</title>
</head>
<body>
    <h1>Add a Car</h1>
    <form action="/" method="post">
      <div>
        <label for="model">Car Model:</label>
        <input type="text" name="model" id="model" placeholder="Car Model" />
      </div>
      <div>
        <label for="manufacturer">Manufacturer:</label>
        <input type="text" name="manufacturer" id="manufacturer" placeholder="Manufacturer" />
      </div>
      <div>
        <label for="price">Price: £</label>
        <input type="text" name="price" id="price" placeholder="0.00" />
      </div>
      <button>Submit</button>
    </form>
</body>
</html>